td.empty {
    padding: 0;
}

th, td.content {
    border: 1px solid black;
}

th {
    padding: 5px 10px;
}

td.content {
    padding: 5px 25px 5px 10px;
}

form button {
    height: 29px;
    line-height: 29px;
    margin: 29px 5px 0 0;
    padding: 0 5px 0 29px;
}

form button.login{
    padding: 0 32px 0 32px;
}

a.edit {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url('edit.png');
}
a.delete {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url('delete.png');
}

a.add {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url('add.png');
}



form button.save {
    background: #0C4 url('save.png') no-repeat;
}

form button.add {
    background: #0C4 url('add.png') no-repeat;
}

form button.delete {
    background: #0C4 url('delete.png') no-repeat;
}

form button.edit {
    background: #0C4 url('edit.png') no-repeat;
}

#menu{
    width: 100%;
    background-color: aqua;
    color: white;
    font-size: 18px;
}

#menu li{
    display: inline-block;
}

#menu a:link, #menu a:visited{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 0 18px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
}

#menu a:hover{
    color: #ffffff;
    text-decoration: none;
    background-color: aquamarine;
}

#menu ul{
    margin-left: 18px;
    padding: 0;
}