td.empty {
    padding: 0;
}

th, td.content {
    border: 1px solid black;
}

th {
    padding: 5px 10px;
}

td.content {
    padding: 5px 25px 5px 10px;
}

form button {
    height: 29px;
    line-height: 29px;
    margin: 29px 5px 0 0;
    padding: 0 5px 0 29px;
}

form button.save {
    background: url('save.png') no-repeat;
}

form button.add {
    background: url('add.png') no-repeat;
}

form button.delete {
    background: url('delete.png') no-repeat;
}

form button.edit {
    background: url('edit.png') no-repeat;
}

form button.cancel {
    background: url('edit.png') no-repeat;
}

form button.show {
    background: url('show.png') no-repeat;
}

form button.login{
    padding: 0 32px 0 32px;
}

a.edit {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url('edit.png');
}

a.delete {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url('delete.png');
}

a.add {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url('add.png');
}

a.show {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url('show.png');
}

a.cancel {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url('cancel.png');
}

#menu{
    width: 100%;
    background-color: aqua;
    color: white;
    font-size: 18px;
}

#menu li{
    display: inline-block;
    color: black;
}

#menu a:link, #menu a:visited{
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 0 18px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
}

#menu a:hover{
    color: #000000;
    text-decoration: none;
    background-color: aquamarine;
}

#menu ul{
    margin-left: 18px;
    padding: 0;
}


.pagin {
    margin-left: 100px;
    margin-bottom: 5px;
    color: black;
}

.btn-info {
    background-color: rgba(24, 33, 52, 0.5);
    color: white;
    border: none;
    border-radius: 20%;
}